:root {
    --general-text: #312C27;
    --accent-text: #1f1711;
    --general-bg: #fff9f4;
    --accent-bg: #ffe0cb;
    --accent-color: #FFa55C;
}


html {
    scroll-behavior: smooth;
    scroll-padding-top: 5vw;
}

body {
    font-family: "Montserrat", "arial", sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);


}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.main {
    flex-grow: 1;
}

.main__about {
    padding: 140px 0;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.modal {
    position: fixed;
    inset: 0;
    background: #00000048;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
}


.body--opened-modal .modal {
    visibility: visible;
    opacity: 1;
}

.modal__window {
    position: relative;
    background: var(--general-bg);
    border-radius: 20px;
    padding: 0 60px 60px;
    max-width: 428px;
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__cancel path,
rect {
    transition: all .4s;
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #ac907a
}

.modal__img {
    margin-left: 13px;
    margin-bottom: 15px;
    margin-top: -65px;
}

.modal__title {
    font-family: 'Gabriola';
    font-size: 42px;
    line-height: 90%;
    color: var(--accent-text);
    margin-bottom: 10px;
}

.modal__text {
    margin-bottom: 30px;
}

.modal__form-input {
    display: block;
    border: 1px solid #ac907a;
    border-radius: 60px;
    max-width: 358px;
    width: 100%;
    padding: 18px;
    font-size: 16px;
    margin-bottom: 10px;
    transition: all .4s;
}

.modal__form-input:hover {
    border-color: var(--accent-color);
}

.modal__form-input::placeholder {
    color: #ac907a;
    transition: all .4s;

}

.modal__form-input:hover::placeholder {
    color: var(--accent-color);

}

.button {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    background: var(--accent-color);
    border-radius: 60px;
    padding: 18px;
    max-width: 358px;
    transition: all .5s;
    width: 100%;
    text-align: center;
}

.button:hover {
    background: #FF9138;
}

/* ========================================================= */

.header {
    background: url(../img/decor/bg-header.png) 50% 100% / cover no-repeat;

}

.header__top {
    padding-top: 19px;
}

.header__logo {
    max-width: 174px;
    z-index: 11;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}




.nav__list {
    display: flex;
    gap: 4vh 40px;
}


.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: .5s;
}

.nav__link:hover::before {
    opacity: 1;
}




/* ====================================================== */


.hero {
    padding: 50px 0 140px;
}


.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}


.hero__content {
    max-width: 518px;
}


.hero__info {
    color: #b197b3;
    text-transform: uppercase;
    line-height: 160%;
    margin-bottom: 20px;
}


.hero__title {
    font-family: 'Gabriola';
    font-style: normal;
    font-weight: 400;
    font-size: 74px;
    line-height: 82%;
    margin-bottom: 30px;
}


.hero__text {
    margin-bottom: 40px;
    max-width: 358px;
}


.hero__button {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    background: var(--accent-color);
    border-radius: 60px;
    padding: 18px;
    max-width: 358px;
    transition: all .5s;
    width: 100%;
    text-align: center;
}

.hero__button:hover {
    background: #FF9138;

}


.hero__img {
    position: relative;
    margin-right: 247px;
}

.hero__img>img {
    width: 100%;
}


.hero__img-control {
    position: absolute;
    bottom: 10%;
    left: calc(100% - 39px);
    display: flex;
    gap: 10px;
    align-items: center;
    max-width: 200px;
    text-align: left;
}


.hero__img-control--mobile {
    display: none;
}


.hero__img-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 78px;
    min-height: 78px;
    border-radius: 50%;
    background: #ffe0cb;
    box-shadow: 0px 4px 20px rgba(184, 148, 126, 0.3);
    padding-left: 5px;
    position: relative;

}


.hero__img-button::before {
    content: '';
    position: absolute;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    inset: 5px;
    transition: all .5s;
    opacity: 0;
}

.hero__img-button:hover::before {
    opacity: 1;
}



.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}


.burger-icon span {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    position: relative;
    transition: all .4s;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    transition: all .4s;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);

}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

/* ====================================================== */



.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 40px 53px;

}

.about__img {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    grid-row: 1/-1;

}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;

}

.about__img-control {
    position: absolute;
    bottom: 25px;
    left: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    max-width: 300px;
    text-align: left;
    background: #957b97e6;
    border-radius: 20px;
    color: var(--general-bg);

}

.about__img-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 78px;
    min-height: 78px;
    border-radius: 50%;
    background: var(--general-bg);
    padding-left: 5px;
    position: relative;
    padding: 15px 20px;

}

.about__img-button::before {
    content: '';
    position: absolute;
    border: 1px solid #ceadd0;
    border-radius: 50%;
    inset: 5px;
    transition: all .5s;
    opacity: 0;
}

.about__img-button:hover::before {
    opacity: 1;
}


.about__heading {
    margin-bottom: 30px;
}

.about__title {
    font-family: 'Gabriola';
    font-style: normal;
    font-weight: 400;
    font-size: 74px;
    line-height: 82%;
    color: #1f1711;
}


.about__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

.about__grid-item {
    background: var(--accent-bg);
    border-radius: 20px;
    padding: 29px 24px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.about__grid-img {
    border: 1px solid #312c27;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;


}

/* ====================================================== */
.main__program {
    padding-bottom: 145px;
}


.program__top {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 60px;
    gap: 30px 15px;

}

.program__title {
    font-family: 'Gabriola';
    font-style: normal;
    font-weight: 400;
    font-size: 74px;
    line-height: 82%;
    color: #1f1711;
    margin-bottom: 20px;
}



.tab-controls {
    display: flex;
    gap: 26px;

}

.tab-controls__link {
    display: block;

    border-radius: 100px;
    padding: 14px 30px;
    box-shadow: 0px 4px 20px 0px #cec3b94d;
    transition: all .4s;
}

.tab-controls__link:hover {
    background: var(--accent-bg);

}


.tab-controls__link--active {
    background: var(--accent-bg);
    box-shadow: 0px 4px 20px 0px #cec3b900;

}

.tab-content {

    display: none;
}

.tab-content--show {
    display: block;
}


.accordion-list__item {
    border: 1px solid var(--accent-color);
    border-radius: 20px;
    margin-bottom: 30px;
}

.accordion-list__item:last-child {
    margin-bottom: 0px;
}

.accordion-list__control {
    padding: 41px 30px;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gabriola';
    font-size: 42px;
    line-height: 90%;
    color: var(--accent-text);
    text-align: left;

}

.accordion-list__control-icon {
    width: 36px;
    height: 36px;
    border: 1.5px solid var(--accent-color);
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
    gap: 15px;
}

.accordion-list__control:hover .accordion-list__control-icon {
    background: var(--accent-color);
    transform: rotate(90deg);
}

.accordion-list__control:hover .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__item--opened .accordion-list__control-icon {
    background: var(--accent-color);
    transform: rotate(90deg);
}

.accordion-list__item--opened .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__control-icon svg {
    margin-left: 2px;
}

.accordion-list__control-icon path {
    transition: all .4s;
}




.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}


.accordion-content {
    padding: 0 30px 40px;
    display: flex;
    gap: 80px;

}

.accordion-content__col:first-child {
    max-width: 507px;
    width: 100%;
}

.accordion-content__title {
    text-transform: uppercase;
    color: #ceaad0;
}

.accordion-content__item {
    margin-bottom: 20px;
    display: flex;
}

.accordion-content__item:last-child {
    margin-bottom: 0;
}

.accordion-content__icon {
    width: 24px;
    height: 24px;
    border: 1px solid #ceaad0;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    flex-shrink: 0;
}

.accordion-content__text {
    max-width: 274px;
}


/* ======================================================================= */
.program__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.program__action {
    display: grid;
    grid-template: repeat(3, auto) / 1.65fr 1fr;
    gap: 40px;
    max-width: 501px;
    flex-shrink: 0;

}


.program__discount {
    grid-row: 1 / 3;
    background: var(--accent-bg);
    border-radius: 20px;
    padding: 40px;
}

.program__discount span {
    display: block;
    width: 166px;
}

.program__tab-content {
    margin-bottom: 40px;
}

.data {

    font-size: 16px;
    margin-left: 35%;
}

.program__discont-value {
    display: block;
    color: var(--accent-color);
    font-family: Gabriola;
    font-size: 74px;
    font-weight: 400;
    line-height: 82%;
    text-align: center;
    margin-left: 13%;
    margin-bottom: 7px;
    animation: discont-grow .7s infinite alternate;
}

@keyframes discont-grow {
    0% {
        font-size: 74px;
        color: var(--accent-color);
    }

    100% {
        font-size: 82.222px;
        color: #ff9138;
    }
}


.program__price-text {
    line-height: 160%;
    text-transform: uppercase;
    color: #ceaad0;
}

.program__price-value {
    font-family: "Gabriola";
    font-size: 32px;
    line-height: 90%;
}

.program__price-value--big {
    font-size: 50px;
    color: var(--accent-text);
}

.program__button {
    grid-column: 1/-1;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    background: var(--accent-color);
    border-radius: 60px;
    padding: 18px;
    transition: all .5s;
    width: 100%;
    text-align: center;
}


.program__button:hover {
    background: #FF9138;
}

.program__img {
    max-width: 100%;
}


/* ======================================================= */


.main__gallery {
    padding-bottom: 140px;
}


.gallery__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;

}

.gallery__img {
    justify-self: center;
    align-self: center;
}

.gallery__img img {
    max-width: 100%;
}

.gallery__content {
    display: flex;
    align-items: end;
    gap: 15px;
    margin-bottom: 40px;
    justify-content: space-between;
}

.gallery__info {
    max-width: 380px;
}

.gallery__title {
    font-family: 'Gabriola';
    font-style: normal;
    font-weight: 400;
    font-size: 74px;
    line-height: 82%;
    color: #1f1711;
    margin-bottom: 20px;
}


.gallery__nav {
    display: flex;
    gap: 30px;
    align-items: center;
    font-family: 'Gabriola';
    font-size: 42px;
    line-height: 90%;

}



.gallery__pagination {
    display: flex;
}



.gallery__next,
.gallery__prev {
    background: transparent;
    cursor: pointer;
    border-radius: 50%;
    border: 1.5px solid var(--accent-color);
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}

.gallery__next path,
.gallery__prev path {
    transition: all .4s;
}

.gallery__next:hover,
.gallery__prev:hover {
    background: var(--accent-color);
}

.gallery__next:hover path,
.gallery__prev:hover path {
    fill: var(--general-bg);
}


.gallery__slide {
    border-radius: 20px;
    overflow: hidden;
}

.gallery__slide img {
    width: 100%;
}


.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
    border-color: #e1d9e1;
    background: transparent;
}

.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path {
    fill: #e1d9e1;
}

/* ======================================================================= */

.main__testimonials {
    padding-bottom: 140px;
}


.testimonials__inner {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 30px;
}

.testimonials__info {
    max-width: 632px;
    width: 100%;
}

.testimonials__title {
    font-family: 'Gabriola';
    font-style: normal;
    font-weight: 400;
    font-size: 74px;
    line-height: 82%;
    color: #1f1711;
    margin-bottom: 20px;
}

.testimonials__nav {
    display: flex;
    gap: 30px;
    align-items: center;
    font-family: 'Gabriola';
    font-size: 42px;
    line-height: 90%;

}

.testimonials__slider {
    overflow: visible;
    padding-bottom: 20px;


}

.testimonials__scrollbar {
    background: var(--accent-bg);
    height: 7px;

}

.swiper-scrollbar-drag {
    background: var(--accent-color);
}

.testimonials__wrapper {
    margin-bottom: 40px;
}

.testimonials__slide {
    background: var(--accent-bg);
    border-radius: 20px;
    padding: 30px 30px 40px;
    display: flex;
    gap: 30px;
    transition: all .4s;
    opacity: 0.5;
    height: auto;
}

.testimonials__slide.swiper-slide {

    transform: scale(.9);
}

.swiper-slide-active.testimonials__slide {
    transform: scale(1);
    opacity: 1;
}

.testimonials__student {
    min-width: 165px;
}

.testimonials__student-img {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.testimonials__student-img img {
    width: 100%;
    flex-shrink: 0;

}

.testimonials__student-name {
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    line-height: 160%;
    color: var(--accent-text);
}

.testimonials__student-inst {
    margin: 0 auto;
    color: #ceaad0;
    white-space: nowrap;
    text-align: center;
}

.testimonials__quote span {
    display: block;
    font-family: 'Gabriola';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 82%;
    color: #1f1711;
    margin-bottom: 10px;
}

.testimonials__scrollbar {
    position: static;
    width: 100%;
}

.swiper-slide-prev.testimonials__slide {
    opacity: 0.5;
}

.swiper-slide-next.testimonials__slide {
    opacity: 0.5;
}

.testimonials__next,
.testimonials__prev {
    background: transparent;
    cursor: pointer;
    border-radius: 50%;
    border: 1.5px solid var(--accent-color);
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}

.testimonials__next path,
.testimonials__prev path {
    transition: all .4s;
}

.testimonials__next:hover,
.testimonials__prev:hover {
    background: var(--accent-color);
}

.testimonials__next:hover path,
.testimonials__prev:hover path {
    fill: var(--general-bg);
}

/* ===================================================================== */

.contact {
    padding: 140px 0;
    background: url(../img/decor/bg-footer.png) 50% 0% / cover no-repeat;
}

.contact__inner {
    display: flex;
    align-items: end;
    gap: 84px;
    position: relative;
}

.contact__inner::before {
    content: url(../img/decor/berries.png);
    position: absolute;
    top: -0%;
    left: 0%;
}

.contact__inner::after {
    content: url(../img/decor/berries-2.png);
    position: absolute;
    top: -0%;
    right: 0%;
}

.contact__img img {
    width: 100%;
}

.contact__body {
    max-width: 420px;
}

.contact__text {
    margin-bottom: 40px;
}

.contact__form {}

.contact__checkbox {
    margin: 10px 0;
}

.button-contact {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    background: var(--accent-color);
    border-radius: 60px;
    padding: 18px;
    width: 100%;
    transition: all .5s;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.contact__title {
    font-family: 'Gabriola';
    font-size: 42px;
    line-height: 90%;
    color: var(--accent-text);
    margin-bottom: 20px;
}

.contact__form {
    margin-bottom: 10px;
}

.contact__form-input-tel,
.contact__form-input {
    display: block;
    border: 1px solid #ac907a;
    border-radius: 60px;
    width: 100%;
    padding: 18px;
    font-size: 16px;
    margin-bottom: 10px;
    transition: all .4s;
    background: transparent;
}

.contact__form-input-tel:hover,
.contact__form-input:hover {
    border-color: var(--accent-color);
}

.contact__form-input-tel::placeholder,
.contact__form-input::placeholder {
    color: #ac907a;
    transition: all .4s;

}

.contact__form-input-tel.modal__form-input:hover::placeholder,
.contact__form-input:hover::placeholder {
    color: var(--accent-color);

}



.button:hover {
    background: #FF9138;
}


.contact-link {
    text-decoration: underline;
}

label {
    max-width: 267px;
    font-size: 13px;
    margin-bottom: 20px;
}

.contact__checkbox {

    width: 16px;
    height: 16px;
    border: 2px solid color #ac907a;
    transition: all .4s;
    border-radius: 4px;
}

.contact__checkbox:hover {
    border: 2px solid color var(--accent-color);
}




/* ===================================================================== */
.footer {
    background: #ab8261;
    padding: 34px 0 66px;
    color: var(--general-bg);
}

.footer__inner {
    display: grid;
    gap: 40px 30px;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr) auto;

}

.footer__col:first-child {
    margin-top: -10px;
}

.footer__logo {
    max-width: 240px;
}

.footer__logo img {
    width: 100%;
    ;
    display: block;
}

.footer__logo-text {
    margin-bottom: 20px;
}

.socials {
    line-height: 0;
}

.socials__list {
    display: flex;
    gap: 15px;
}

.socials__link path {
    transition: all .4s;
}

.socials__link:hover path {
    fill: var(--accent-color);
}

.footer__col_item {
    margin-bottom: 20px;
}

.footer__col-link {
    display: block;
    position: relative;
    z-index: 1;
}



.footer__col-link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    transition: .5s;
}

.footer__col-link:hover::before {
    opacity: 1;
}


.footer__contact_item {
    margin-bottom: 10px;
}

.footer__col-tel {
    margin-bottom: 47px;
}

.footer__col-number {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    transition: all .4s;
}

.footer__col-number:hover {
    color: var(--accent-color);
}

.footer__col-copy {
    color: #dec5b1;
}








/* ================================================= */
/* ====================================================== */
/* ====================================================== */
/* ====================================================== */


@media (max-width:1200px) {

    .hero__img {
        margin: 0;
        max-width: 377px;
    }

    .hero__img-control {
        position: static;
        max-width: none;
        margin-top: 30px;
    }

    .footer__inner {
        justify-content: space-between;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto auto;
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
        text-align: center;
    }

    .program__top {
        flex-direction: column;
        align-items: stretch;
    }

    .tab-controls {
        flex-wrap: wrap;
    }

    .contact__inner::after {
        top: -15%;
    }
}


@media (max-width:1100px) {
    .about__img {
        grid-row: auto;

    }

    .program__img {
        display: none;
    }

    .about__body {
        align-items: center;
    }

    .about__grid {
        grid-column: 1/-1;
    }

    .accordion-list__control {
        font-size: 35px;
        padding: 25px 30px;
    }

    .accordion-content {
        gap: 30px;
    }

    .contact__inner {
        align-items: center;
        gap: 30px;
    }
}


@media (max-width:900px) {
    .nav {
        background: var(--general-bg);
        position: fixed;
        inset: 0;
        z-index: 10;
        padding: 12vh 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;

    }

    .burger-icon {
        display: block;
    }


    .footer__inner {
        justify-content: center;
        grid-template: none;
        text-align: center;
        gap: 0;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer__col:nth-child(2) {
        margin-bottom: 40px;
    }

    .footer__col:nth-child(3) {
        margin-bottom: 10px;
    }

    .program__action {
        max-width: none;
        width: 100%;
        grid-template: repeat(3, auto) / repeat(2, 1fr)
    }

    .gallery__img {
        display: none;
    }

    .gallery__inner {
        grid-template: none;
    }

    .gallery__info {
        max-width: none;
    }

    .contact__inner {
        justify-content: center;
    }

    .contact__img {
        display: none;
    }
}


@media (max-width:800px) {
    .hero__img {
        display: none;
    }

    .hero__img-control--mobile {
        display: flex;
        margin: 0 0 30px;
    }

    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about__inner {
        grid-template: none;
    }

    .about__img {
        max-width: 500px;
        justify-self: center;
    }

    .about__body {
        text-align: center;
    }

    .tab-controls {
        gap: 10px;
    }

    .accordion-content {
        flex-direction: column;
    }

    .accordion-content__col:first-child {
        width: none;
    }

    .accordion-content__text {
        width: none;
    }

    .testimonials__inner {
        flex-direction: column;
        align-items: stretch;
    }

    .testimonials__nav {
        align-self: end;
    }

    .contact__inner::before {
        display: none;
    }
}


@media (max-width:650px) {
    .testimonials__slide {
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width:600px) {

    .modal__window {
        padding: 0 15px 60px;
    }

    .modal__img {
        max-width: 50%;
    }

    .main__about {
        padding: 60px 0 80px;
    }

    .hero__title {
        font-family: 'Gabriola';
        font-style: normal;
        font-weight: 300;
        font-size: 50px;
        line-height: 62%;
        margin-bottom: 20px;
    }

    .about__title {
        font-family: 'Gabriola';
        font-style: normal;
        font-weight: 300;
        font-size: 50px;
        line-height: 62%;
        margin-bottom: 20px;
    }

    .about__grid {
        grid-template: none;
        gap: 15px;
    }

    .about__grid-item {
        padding: 10px 15px;
    }

    .about__img-control {
        bottom: 0;
        left: 0;
        right: 0;
        max-width: none;
        border-radius: 0;
        padding: 10px 15px;
    }

    .program__title {
        text-align: center;
    }

    .program__top {
        text-align: center;

    }

    .tab-controls {
        justify-content: center;
    }

    .accordion-list__control {
        padding: 17px 30px;
        font-size: 28px;
    }

    .accordion-list__control-icon {
        width: 26px;
        height: 26px;
    }

    .accordion-list__control-icon svg {
        width: 10px;
    }

    .accordion-list__item {
        margin-bottom: 10px;
    }

    .program__img {
        max-width: none;
        width: 100%;
    }

    .program__discount {
        grid-row: auto;
        grid-column: 1/-1;
    }

    .gallery__content {
        flex-direction: column;
    }

    .main__testimonials {
        padding: 0 0 60px;
    }
}




@media (max-width:450px) {
    .accordion-list__control {
        padding: 17px 15px;
    }


    .accordion-list__content {
        padding: 0 15px 30px;
    }

    .accordion-content__item {
        margin-bottom: 10px;
    }

    .testimonials__slide {
        padding: 20px 10px 30px;
    }
}